{% extends 'rosario/home.html' %}
{% block content %}
<h2>MISTÉRIOS DOLOROSOS</h2>
( Agonia, sofrimento e morte: Amor aos pecadores )
<h3>1º MISTÉRIO:</h3>
A AGONIA DE JESUS (Gêtsemani: vigilância, intercessão, oração)

Primeiro Mistério Doloroso
Contemplamos a agonia Mortal de Nosso Senhor, quando suou sangue no Horto das Oliveiras. “Minha alma está triste a ponto de morrer, ficai aqui e vigiai. “Vigiai e orai para não cairdes em tentação, o espírito está pronto, mas a carne é fraca.”

A oração e vigilância nos livra de cairmos nas armadilhas do demônio. Ele está sempre esperando uma oportunidade para nos fazer cair no pecado. Só com a força da oração constante podemos vencê-lo. Jesus mesmo sabendo tudo o que iria lhe acontecer, suportou toda tristeza e foi obediente ao Pai. Seguir o seu exemplo e em todas as coisas que nos acontecer, seja boa ou má …sempre seja feito a vontade de Deus e não a nossa, pois Ele sabe o que é melhor para cada um de nós.


<h3>2º MISTÉRIO:</h3>
A FLAGELAÇÃO DE JESUS ATADO A UMA COLUNA

Segundo Mistério Doloroso
Contemplamos a flagelação de Nosso Senhor. O sofrimento – a humilhação o escárnio- a violência de um inocente.

Toda essa humilhação e dor por cada um de nós, pecadores. O amor que sente por cada ser humano é impossível de se imaginar. E todas as vezes que pecamos e ofendemos um irmão estamos sendo os carrascos que torturaram Jesus.



<h3>3º MISTÉRIO:</h3>
A COROAÇÃO DE ESPINHOS

Terceiro Mistério Doloroso
Contemplamos a coroação de espinhos de Nosso Senhor Jesus Cristo. Cada ponta de espinho… um pecado – em cada gota de sangue derramado o perdão.

Sua sagrada face coberta de sangue… o sangue que nos lavou e limpou de nossos pecados; na dor provocada pelos espinhos resgatou-nos da morte. O mesmo sangue que hoje derrama em cada Santa Missa Celebrada; poderoso sangue redentor, que nos cura e liberta de toda escravidão do pecado.



<h3>4º MISTÉRIO:</h3>
JESUS CARREGA A CRUZ ATÉ O CALVÁRIO

Quarto Mistério Doloroso
Contemplamos a subida dolorosa de Jesus carregando a Cruz para o Calvário. O peso dos pecados do mundo nos ombros abriram chagas que chegavam até os ossos.

Todo aquele que quiser vir após mim, renegue a si mesmo toma sua cruz e siga-me. As cruzes diárias é caminho de redenção e salvação. Aceitar as cruzes é amar a Jesus e imitá-lo. O servo fiel que segue seu mestre e também dá a vida por outro irmão.


<h3>5º MISTÉRIO:</h3>
JESUS MORRE NA CRUZ

Quinto Mistério Doloroso
Contemplamos a crucificação e morte de Nosso Senhor Jesus Cristo. Cruz, escândalo para os judeus, loucura para os gentios, consolo e sinal de fé para os cristãos.

A cruz Sagrada seja a nossa luz… Todo sofrimento na terra não tem comparação ao da cruz do Senhor. Por amor ao ser humano e ao pecador suportou dores incalculáveis, humilhou-se, foi insultado e desprezado, tratado como o pior dos criminosos. O maior dos tesouro de um cristão ..honrar a Santa Cruz!
{% endblock %}