{% extends 'rosario/home.html' %}
{% block content %}
<h2>MISTÉRIOS GLORIOSOS</h2>
(Vitória, Salvação, Proteção )

<h3>1º MISTÉRIO:
A RESSURREIÇÃO DE JESUS</h3>

Primeiro Mistério Glorioso
Contemplamos a ressurreição de Jesus. A morte não é o fim para aqueles que crêem em Jesus. 

A vitória sobre a morte, a esperança na vida eterna, o envio a anunciar a boa-nova, a remissão dos pecados. A paz de Jesus àqueles que O seguem.



<h3>2º MISTÉRIO:
A ASCENÇÃO DO SENHOR</h3>

Segundo Mistério Glorioso
Contemplamos a ascensão de Nosso Senhor Jesus Cristo ao Céu. 

A volta ao Pai para preparar–nos um lugar e para cuidar de cada um de nós intercedendo junto a Deus pelo perdão de nossos pecados.

Mãe, ajuda-nos a manter sempre viva a ligação ao coração de Jesus porque Ele é o caminho para o Pai. Contigo queremos transformar a nossa vida no projeto que Deus pensou para nós.



<h3>3º MISTÉRIO:
A DESCIDA DO ESPÍRITO SANTO SOBRE OS APÓSTOLOS</h3>

Terceiro Mistério Glorioso
Contemplamos a vinda do Espírito Santo sobre os apóstolos reunidos com a Virgem Maria em Jerusalém.A vinda do Prometido, o Espírito Santo Paráclito: o advogado-defensor. O Paráclito, o Espírito Santo que o Pai enviará em meu nome, vos ensinará todas as coisas e vos fará recordar tudo os que vos disse.

A vinda do Prometido, o Espírito Santo Paráclito: o advogado-defensor. O Paráclito, o Espírito Santo que o Pai enviará em meu nome, vos ensinará todas as coisas e vos fará recordar tudo os que vos disse.

O Espírito Santo que recebemos no Batismo é nosso condutor, defende-nos diante do Pai, pois temos um acusador dia e noite que nos acusa diante de Deus… satanás; mas o Espírito Santo que habita em nós, ora em nós com gemidos inefáveis, pois não sabemos o que pedir a Deus.



<h3>4º MISTÉRIO:
A ASSUNÇÃO DE MARIA AO CÉU</h3>

Quarto Mistério Glorioso
Contemplamos a assunção de Nossa Senhora ao Céu: o encontro da Mãe com o Filho no céu.

Concebida sem pecado Virgem Santa merecedora de todas as graças.

A filha predileta do Pai sempre fiel a Deus, guardou tudo sempre em seu coração, virgem do silêncio, seu corpo templo do Espírito Santo, Sacrário Vivo, não poderia ser corrompido pela terra como simples pecadora.



<h3>5º MISTÉRIO:
A COROAÇÃO DE MARIA POR JESUS E OS ANJOS
(A serva fiel de Deus tornou-se Rainha)</h3>

Quinto Mistério Glorioso
Contemplamos a coroação de Nossa Senhora como Rainha de todos os anjos e santos. Rainha dos Anjos: Uma mulher vestida de Sol, sobre a cabeça uma coroa de estrelas e sobre o os pés a lua.

Rainha da Terra, Rainha da Igreja intercessora poderosa junto a Jesus, tem poder de esmagar a cabeça do dragão infernal, na hora de nossa morte nos defenderá junto a Jesus, e a todos aqueles que por amor a ela e a seu filho forem fiéis na oração do Santo Rosário. …a cada Ave-Maria depositamos uma rosa a seus pés…

{% endblock %}
