{% extends 'rosario/home.html' %}
{% block content %}
<h2>MISTÉRIOS GOZOSOS</h2>
( Natalidade e crescimento de Jesus )
<h3>1º MISTÉRIO:</h3>
ANUNCIAÇÃO – O ANJO ANUNCIA A MARIA QUE ELA SERÁ MÃE DO FILHO DE DEUS – O SIM…

Primeiro Mistério Gozoso
Contemplamos a anunciação do anjo Gabriel à Nossa Senhora e a encarnação do verbo de Deus em seu ventre. “Eis aqui a serva do Senhor, faça-se em mim segundo a vossa palavra” – aqui vemos em Maria o despojamento, a humildade, o amor a Deus e a entrega de si mesma.

Meditação: Hoje o Senhor nos chama dar o sim para Jesus; nascer em nosso coração em nossa vida, dar sentido à nossa vida terrena e acolher o plano de Deus para nossa salvação.



<h3>2º MISTÉRIO:</h3>
MARIA VISITA SUA PRIMA IZABEL IDOSA QUE ESTAVA GRÁVIDA DE JOÃO BATISTA – ANUNCIANDO A BOA-NOVA…

Segundo Mistério Gozoso
Contemplamos a visitação de Nossa Senhora à Santa Isabel. “E partindo às pressas foi às montanhas ficar com sua prima que já de idade avançada estava grávida”…. Isabel a saúda: Tu és bendita.. como posso merecer que a MÃE do meu Senhor venha me visitar, quando adentrastes pela porta a criança saltou em meu ventre. Maria responde: “Minha Alma glorifica o Senhor… Meu espírito exulta em Deus Meu Salvador!”

A humildade e a entrega de si mesma em favor dos mais necessitados; hoje Deus nos chama a trabalhar em sua vinha, sair de nosso conforto e procurar os que estão necessitados; não só de pão, mas de amor, apoio e do conhecimento da palavra do Senhor.



<h3>3º MISTÉRIO:</h3>
JESUS NASCE EM UMA GRUTA, EM BELÉM.

Terceiro Mistério Gozoso
Contemplamos o nascimento de Nosso Senhor Jesus Cristo em Belém. Um Deus tão grande e poderoso vem até nós… o verbo de Deus se faz carne, sai da sua divindade e se torna um pobre mortal semelhante a nós em tudo, menos no pecado.

Jesus nos mostra que nada que temos ou possuímos, nesse mundo importa, comparado àquilo que há de vir… o mais importante: a vida eterna. O orgulho de um anjo que queria ser Deus gerou o pecado. E o salário do pecado é a morte… …a humildade é a chave de toda a nossa salvação, a pureza de coração, a entrega sincera a Deus é a obediência, e o salário da obediência é a vida eterna. Pois todo aquele que crer em mim mesmo que morra eu o ressuscitarei.



<h3>4º MISTÉRIO:</h3>
APRESENTAÇÃO DE JESUS AO TEMPLO

Quarto Mistério Gozoso
Contemplamos a apresentação do Menino Jesus no Templo e a Purificação de Nossa Senhora. Uma espada de dor transpassará o vosso Coração.

Apresentando o nosso coração ao Senhor para que ele faça a circuncisão e tire aquela pele que impede a ação do Espírito Santo em nossa vida. E mesmo que em nossa caminhada junto ao Senhor uma espada penetre nossa alma, possamos pela força de seu Espírito Santo ver a salvação que vem de Jesus.



<h3>5º MISTÉRIO:</h3>
A PERDA E O REENCONTRO DE JESUS EM JERUSALÉM

Quinto Mistério Gozoso
Contemplamos a perda e o reencontro de Jesus no templo de Jerusalém. Maria e José perderam Jesus ainda menino aos 12 anos em Jerusalém e após três dias de dor e sofrimento o encontram no templo no meio de doutores da lei ensinando a doutrina do Pai.

A Escritura Sagrada, é o caminho para encontrarmos Jesus, quando nos perdemos ou desviamos desse caminho, a conseqüência é a dor o sofrimento. Na procura diária pela leitura, estudo e reflexão da Bíblia, podemos buscar o encontro ou o reencontro com Nosso Senhor e depois viver essas palavras e ensinamentos o quanto mais cedo. E, assim como Jesus, crescer na obediência e cuidar das coisas do Pai.

{% endblock %}